/*****Reset*****/  
html, body, div, h1, h3, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }  

body{
	width: 100%;
	font-family:'Muli', sans-serif;
	font-size: 15pt;
	padding: 20px;
}

h1{
	font-size: 5em;
	font-weight: 700;
	line-height: 65px;
}
h2{
	font-size: 3.5em;
	text-align: right;
}

h3{
	font-size: 1.25em;
	margin-bottom: 10px 0 0 20px;
}
p{
	font-size: .7em;
	font-weight: 300;
	padding-top:0;
	line-height: 15px;
}

input, textarea{
	font-size: 1em;
}




#formOutput{
	background-color: black;
	color: white;
	float: left;
	width: 45%;
	height: 75%;
	margin: 0 22px;
	padding: 22px;
	word-wrap: break-word;
}

#formOutput p{
	font-size: 1em;
	line-height: 35px;

}

#formOutput div{
	padding-left: 50px;
	color: #F5B458;
}

#keywordsOutput{
	float: left;
}

/** accordion **/
ul#accordion{
	width: 45%;
}
ul#accordion, ul#accordion ul { list-style: none; margin-right: 50px;}  
ul#accordion ul li {   
    border: none;   
    padding: 5px 10px;  
}  
ul#accordion ul li:last-child { border-bottom: none; }  
ul#accordion a.heading {    
    color: #1ED4A9;  
    display: block;  
    font-size: 2em;  
    text-align: right;
    line-height: 40px;  
    padding: 10px 10px;  
    text-decoration: none;  
}  
ul#accordion a.heading:hover { background: #1ED4A9; color: white; }  
ul#accordion li ul a {color: #025185; text-decoration: none; }  
ul#accordion li ul a:hover { border-bottom: none; }  
ul#accordion li ul .date { padding-right: 10px; }  
ul#accordion li ul .count { padding-left: 10px; }  


/**** for IE whitespace bug ****/
ul#accordion { float: left; width: 45%; margin-right: 20px;}  
ul#accordion li { float: left; width: 100%; }  
ul#accordion a.heading { width: 100%; }  
ul#accordion ul li { float: none; width: auto; }  

